<!---header-->
<header>
    <a href="#" class="logo">Call &nbsp<span>Ose</span></a>

    <div class="bx bx-menu" id="menu-icon"></div>

    <ul class="navlist">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

    <div class="top-btnn">
        <a href="#" class="h-btn">Contact me</a>
    </div>
</header>
