{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Complete Responsive Personal Portfolio Website using HTML CSS Javascript</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!---box icons link--->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!---remix icons link--->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">


</head>
<body>



    <!------------------------------------------------------------NAVBAR-------------------------------------------------------------->

{% include 'includes/navbar.html'%}   
<!------------------------------------------------------------NAV END-------------------------------------------------------------->  
  
{%block content%}





{%endblock%}

{% include 'includes/footer.html'%}   

	<!---js link-->
	<script src="{% static 'js/script.js' %}"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init({
    	offset: 300,
    	duration: 1400,
    });
    </script>

</body>
</html>
